.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f1f1f1;
  display: flex;
  position: relative;
}

.logo {
  background-size: cover;
  background-repeat: no-repeat;
}

.logo_place_header {
  background-image: url('../images/logo_place_header.svg');
  width: 183px;
  height: 32px;
  position: absolute;
  left: 64px;
  top: 30px;
}

.header__title {
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  margin: 0;
  max-width: 730px;
  align-self: center;
  margin-left: 64px;
  z-index: 2;
}

.header__subtitle {
  max-width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

.description {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  position: relative;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  color: #2f80ed;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.section-title {
  text-align: center;
  width: 60%;
  margin: 0;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  text-align: center;
  width: 60%;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  z-index: 2;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
  z-index: 2;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  margin-top: 20px;
}

.feynman {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
  min-height: 790px;
}

.feynman__title {
  margin: 0;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  align-self: center;
  z-index: 2;
}

.feynman__subtitle {
  margin: 0;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  align-self: center;
  z-index: 2;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  z-index: 2;
}

.feynman__image {
  width: 867px;
  height: 637px;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
}

.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  overflow: hidden;
  z-index: 1;
}

.section-title_theme_dark {
  color: white;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle_theme_dark {
  color: white;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  margin-right: 0;
  color: white;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  margin-top: 20px;
}

.kaufman__triangle {
  background-image: url('../images/kaufman-triangle.svg');
  background-size: contain;
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
}

.footer {
  color: white;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 350px;
}

.footer__columns {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 40px;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url('../images/logo_place_footer.svg');
  width: 183px;
  height: 35px;
  align-self: start;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  left: 0;
  bottom: 0;
  padding: 18px 0;
  margin: 0;
}

.footer__column-heading {
  margin: 0;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-list {
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 16px;
}

.footer__column-links {
  list-style-type: none;
}

.footer__column-link {
  text-decoration: none;
  color: white;
}

.footer__social-icon {
  margin-right: 10px;
}

